/*import of fonts*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/*main style*/
.main_container {
  top: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 99000;
  width: 100vw;
  height: 100vh;
}

.login_container {
  background-color: whitesmoke;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 5% auto;
  width: 65vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.img_holder {
  margin-top: -36px;
  width: 150%;
  height: 107%;
  overflow: hidden;
}

.backbutton {
  z-index: 1000;
  position: relative;
  height: 32px;
  top: 50px;
  left: 15px;
}

.login_img {
  top: 0px;
  width: 100%;
  height: 93.4%;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
}

.input_holder {
  margin: 1% auto;
  padding: 5%;
  width: 100%;
  align-items: center;
}

.login_logo_holder {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_logo {
  position: relative;
  top: 0rem;
}

.greetings {
  font-family: "Cinzel";
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  color: #28282b;
  margin-bottom: 1rem;
}

.input_fields {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -1rem;
  padding: 0;
}

.email {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in;
}

.email:focus {
  border: 1px solid #efb934;
  outline: none;
}

/* Label styling */
.email_text {
  position: absolute;
  top: 10px; /* Space from the top of the container */
  left: 20px; /* Space from the left of the container */
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent; /* Transparent background */
}

.email:focus ~ .email_text,
.email:not(:placeholder-shown) ~ .email_text {
  top: -0px;
  left: 20px;
  font-size: 0.75em;
  background: rgb(245, 245, 245);
  padding: 0 5px;
  color: #28282b;
  border-radius: 0.15rem;
}

.password {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.password:focus {
  border: 1px solid #efb934;
  outline: none;
}

.password_text {
  position: absolute;
  top: 63px; /* Space from the top of the container */
  left: 20px; /* Space from the left of the container */
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent; /* Transparent background */
}

.password:focus ~ .password_text,
.password:not(:placeholder-shown) ~ .password_text {
  top: 52px;
  left: 20px;
  font-size: 0.75em;
  background: whitesmoke;
  border-radius: 0.15rem;
  padding: 0 5px;
  color: #28282b;
}

.checkboxes-container {
  width: 130%;
  margin-left: 6.5rem;
  display: flex;
  flex-direction: row; /* Stack checkbox items vertically */
  align-items: flex-start; /* Align items to the start of the container */
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 3rem; /* Center items vertically within each item */
  margin-bottom: 20px; /* Space between checkbox items */
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkfield_label {
  position: relative;
  padding-left: 30px; /* Space for the custom checkbox */
  cursor: pointer;
  font-size: 0.9em;
  color: #28282b;
  font-family: "Lato";
  line-height: 20px;
}

.checkfield_label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px; /* Smaller width */
  height: 16px; /* Smaller height */
  background: whitesmoke; /* Default background color */
  border: 2px solid #28282b; /* Border color */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.checkbox-input:checked + .checkfield_label::before {
  background: #4c4caf; /* Checked background color */
  border-color: #4c4caf; /* Checked border color */
}

.checkfield_label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  transform-origin: bottom left; /* Rotation point */
}

.checkbox-input:checked + .checkfield_label::after {
  opacity: 1;
  transform: rotate(45deg) translate(0, -3px); /* Adjust to fit within the checkbox */
}

/* Button styling */
.Login_btn {
  padding: 7px;
  font-family: "Lato";
  background-color: #efb934;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1.125em;
  color: whitesmoke;
  margin-bottom: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.Login_btn:hover {
  background-color: #d79b04ef;
  cursor: pointer;
}

/* Link styling */
.input_fields a {
  font-family: "Lato";
  text-decoration: none;
  color: #4c4caf;
  font-size: 1em;
  text-align: center;
  transition: color 0.3s ease; /* Smooth transition */
}

.input_fields a:hover {
  cursor: pointer;
  color: #00002c;
}

.no_acc_container {
  margin-top: 15%;
  margin-left: 19%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  gap: 2%;
}

.no_acc_container p {
  text-align: center;
  font-size: 1em;
}

.no_acc_link {
  font-family: "Lato";
  text-decoration: none;
  color: #4c4caf;
  font-size: 1em;
  border: none;
  text-align: center;
  transition: color 0.3s ease;
}

.no_acc_link:hover {
  cursor: pointer;
  color: #00002c;
}

/*Sign up Part*/
.signup_container {
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 20%;
  margin: 5% auto;
  width: 65vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.img_holder_signup {
  margin-top: 0px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.signup_img {
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
}

.registration_field {
  margin: -10px 0;
  padding: 0 5%;
  height: 70vh;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.reg_back_btn_cont {
  position: absolute;
  top: 4%;
  left: 2%;
}

.input_fields {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20% 0;
}

.reg_logo_holder {
  margin-bottom: 5px;
  align-items: center;
}
.reg_logo {
  width: 70px;
  position: relative;
  left: 40%;
}

.general_cont {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.row_cont {
  display: flex;
  flex-direction: row;
  margin-left: -12px;
}

.F_name {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}

.F_name_text {
  position: absolute;
  top: 144px; /* Space from the top of the container */
  left: 0px; /* Space from the left of the container */
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent;
}

.F_name:focus {
  border: 1px solid #efb934;
  outline: none;
}

.F_name:focus ~ .F_name_text,
.F_name:not(:placeholder-shown) ~ .F_name_text {
  top: 130px;
  left: 0px;
  font-size: 0.75em;
  border-radius: 0.15rem;
  background: whitesmoke;
  padding: 0 5px;
  color: #28282b;
}

.L_name {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-left: 1em;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}

.L_name_text {
  position: absolute;
  top: 144px; /* Space from the top of the container */
  left: 227px; /* Space from the left of the container */
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent;
}

.L_name:focus {
  border: 1px solid #efb934;
  outline: none;
}

.L_name:focus ~ .L_name_text,
.L_name:not(:placeholder-shown) ~ .L_name_text {
  top: 130px;
  left: 227px;
  font-size: 0.75em;
  border-radius: 0.15rem;
  background: whitesmoke;
  padding: 0 5px;
  color: #28282b;
}

.Email_Add {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}

.Email_Add_text {
  position: absolute;
  top: 197px; /* Space from the top of the container */
  left: 0px; /* Space from the left of the container */
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent;
}

.Email_Add:focus {
  border: 1px solid #efb934;
  outline: none;
}

.Email_Add:focus ~ .Email_Add_text,
.Email_Add:not(:placeholder-shown) ~ .Email_Add_text {
  top: 183px;
  left: 0px;
  font-size: 0.75em;
  border-radius: 0.15rem;
  background: whitesmoke;
  padding: 0 5px;
  color: #28282b;
}

.B_Date {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-left: 1em;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}

.B_date_text {
  position: absolute;
  top: 197px; /* Adjust as necessary */
  left: 227px;
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent;
}

.B_Date:focus {
  border: 1px solid #efb934;
  outline: none;
}

.B_Date:focus ~ .B_date_text,
.B_Date:valid ~ .B_date_text {
  top: 183px; /* Adjust as necessary */
  left: 227px; /* Adjust as necessary */
  font-size: 0.75em;
  background: whitesmoke;
  padding: 0 5px;
  color: #28282b;
}

.B_Date::-webkit-datetime-edit,
.B_Date::-webkit-datetime-edit-fields-wrapper,
.B_Date::-webkit-datetime-edit-month-field,
.B_Date::-webkit-datetime-edit-day-field,
.B_Date::-webkit-datetime-edit-year-field {
  opacity: 0; /* Initial opacity */
}

.B_Date:focus::-webkit-datetime-edit,
.B_Date:focus::-webkit-datetime-edit-fields-wrapper,
.B_Date:focus::-webkit-datetime-edit-month-field,
.B_Date:focus::-webkit-datetime-edit-day-field,
.B_Date:focus::-webkit-datetime-edit-year-field,
.B_Date:valid::-webkit-datetime-edit,
.B_Date:valid::-webkit-datetime-edit-fields-wrapper,
.B_Date:valid::-webkit-datetime-edit-month-field,
.B_Date:valid::-webkit-datetime-edit-day-field,
.B_Date:valid::-webkit-datetime-edit-year-field {
  opacity: 1;
}

.reg_pass {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}

.reg_pass_text {
  position: absolute;
  top: 250px; /* Space from the top of the container */
  left: 0px; /* Space from the left of the container */
  font-size: 1em;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent;
}

.reg_pass:focus {
  border: 1px solid #efb934;
  outline: none;
}

.reg_pass:focus ~ .reg_pass_text,
.reg_pass:not(:placeholder-shown) ~ .reg_pass_text {
  top: 235px;
  left: 0px;
  font-size: 0.75em;
  background: whitesmoke;
  padding: 0 5px;
  color: #28282b;
}

.conf_pass {
  width: 90%;
  height: 30px;
  border-radius: 6px;
  font-size: 1.1em;
  padding: 0 15px;
  border: 1px solid #28282b;
  background: transparent;
  outline: none;
  color: #28282b;
  font-family: "Lato";
  font-weight: 300;
  margin-left: 1em;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}

.conf_pass_text {
  position: absolute;
  top: 250px; /* Space from the top of the container */
  left: 227px; /* Space from the left of the container */
  font-size: 1em;
  font-family: "Lato", sans-serif;
  transition: 0.3s ease;
  pointer-events: none; /* Prevent interaction with the label */
  background: transparent;
  transition: all 0.4s ease-in-out;
  color: #28282b65;
}

.conf_pass:focus {
  border: 1px solid #efb934;
  outline: none;
}

.conf_pass:focus ~ .conf_pass_text,
.conf_pass:not(:placeholder-shown) ~ .conf_pass_text {
  top: 235px;
  left: 227px;
  font-size: 0.75em;
  border-radius: 0.15rem;
  background: whitesmoke;
  color: #28282b;
  padding: 0 5px;
}

.checkbox_holder {
  margin-top: 0px;
  display: flex;
  margin-left: 0rem;
  align-items: center;
  margin-right: 0rem; /* Center items vertically within each item */
  margin-bottom: 20px;
  width: 100%;
}

.agreement_label {
  position: relative;
  margin-top: 20px;
  padding-left: 30px; /* Space for the custom checkbox */
  cursor: pointer;
  font-size: 0.9em;
  color: #28282b;
  font-family: "Lato";
  line-height: 20px;
}

.agreement_label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px; /* Smaller width */
  height: 16px; /* Smaller height */
  background: whitesmoke; /* Default background color */
  border: 2px solid #28282b; /* Border color */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.checkbox-input:checked + .agreement_label::before {
  background: #4c4caf; /* Checked background color */
  border-color: #4c4caf; /* Checked border color */
}

.agreement_label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  transform-origin: bottom left; /* Rotation point */
}

.checkbox-input:checked + .agreement_label::after {
  opacity: 1;
  transform: rotate(45deg) translate(0, -3px); /* Adjust to fit within the checkbox */
}

.signup_btn {
  padding: 7px;
  font-family: "Lato";
  background-color: #efb934;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1.125em;
  color: whitesmoke;
  margin-bottom: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.signup_btn:hover {
  background-color: #d79b04ef;
  cursor: pointer;
}

.backbutton:hover {
  cursor: pointer;
}

.has_acc_container {
  margin-top: 10%;
  margin-left: 23%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  gap: 2%;
}

.has_acc_container p {
  text-align: center;
  font-size: 1em;
}

.has_acc_link {
  font-family: "Lato";
  text-decoration: none;
  color: #4c4caf;
  font-size: 1em;
  border: none;
  text-align: center;
  transition: color 0.3s ease;
}

.has_acc_link:hover {
  cursor: pointer;
  color: #00002c;
}

.login_logo {
  width: 70px;
}

.reg_backbutton:hover {
  cursor: pointer;
}

@media (max-width: 1270px) {
  .main_container {
    position: absolute;
    top: 0rem;
    left: -1.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 120vh;
    width: 106vw;
  }

  /*Sign Up Part*/
  .signup_container {
    width: 100%;
    margin-top: 0;
    margin-left: -15rem;
    height: 120vh;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: none;
    z-index: 1;
  }

  /* Background overlay */
  .background-overlay {
    position: absolute; /* Cover the entire container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../assets/Login_Signup_bg.png") no-repeat center center; /* Set the background image */
    background-size: cover; /* Cover the entire area */
    opacity: 0.1; /* Set the desired opacity */
    z-index: 0; /* Behind the content */
  }

  .img_holder_signup {
    visibility: hidden;
  }

  .signup_img {
    visibility: hidden;
  }

  .registration_field {
    position: absolute;
    width: 90%;
    align-items: center;
    margin-top: 1rem;
  }

  .registration_field .input_fields {
    margin-top: 10rem;
  }

  .reg_backbutton {
    position: sticky;
    left: 2rem;
    margin-left: 1rem;
  }

  .reg_back_btn_cont {
    position: fixed;
    left: 1rem;
    margin-left: 1rem;
  }

  .has_acc_link {
    background-color: transparent;
  }

  .login_container {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    height: 120vh;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .login_img {
    visibility: hidden;
  }

  .input_holder {
    position: absolute;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
  }

  .logo_holder {
    width: fit-content;
  }

  .text_holder {
    width: 100%;
  }

  .input_fields form {
    width: 100%;
  }

  .input_holder .input_fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backbutton {
    position: fixed;
    left: 2.5rem;
    top: 2rem;
    margin-left: 1rem;
  }

  .no_acc_container {
    width: 65%;
    margin: 0;
  }

  .no_acc_link {
    background-color: transparent;
  }
}

@media (max-width: 1000px) {
  .registration_field {
    margin-left: 1rem;
  }

  .main_container {
    width: 125vw;
  }

  .login_container {
    width: 100%;
    margin-top: 0;
    margin-left: -9rem;
    height: 120vh;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .input_holder {
    margin-left: 10rem;
    width: 50%;
  }

  .checkboxes-container {
    margin-left: 0;
    width: fit-content;
  }

  .no_acc_container {
    margin-left: -2rem;
    width: 50%;
    gap: 10%;
    text-wrap: nowrap;
  }
}

@media (max-width: 560px) {
  .registration_field {
    margin-left: 1rem;
  }

  .main_container {
    width: 120vw;
  }

  .login_container {
    width: 100%;
    margin-top: 0;
    margin-left: -7rem;
    height: 120vh;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .input_holder {
    margin-left: 0rem;
    width: 50%;
  }

  .signup_container {
    height: 120vh;
  }

  .checkboxes-container {
    margin-left: 0;
    width: fit-content;
  }

  .no_acc_container {
    margin-left: -2rem;
    width: 50%;
    gap: 10%;
    text-wrap: nowrap;
  }
}

@media (max-width: 425px) {
  .main_container {
    position: absolute;
    top: 0rem;
    left: -1.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 120vh;
    width: 106vw;
  }

  /*Sign Up Part*/
  .signup_container {
    width: 100%;
    margin-top: 0;
    margin-left: -4rem;
    height: 120vh;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: none;
    z-index: 1;
  }

  /* Background overlay */
  .background-overlay {
    position: absolute; /* Cover the entire container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../assets/Login_Signup_bg.png") no-repeat center center; /* Set the background image */
    background-size: cover; /* Cover the entire area */
    opacity: 0.1; /* Set the desired opacity */
    z-index: 0; /* Behind the content */
  }

  .img_holder_signup {
    visibility: hidden;
  }

  .signup_img {
    visibility: hidden;
  }

  .registration_field {
    position: absolute;
    width: 90%;
    margin-top: 1rem;
  }

  .row_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .F_name,
  .L_name,
  .B_Date,
  .reg_pass,
  .conf_pass,
  .Email_Add {
    width: 80vw;
    background-color: whitesmoke;
    margin: 1rem 0;
  }

  .F_name_text {
    top: 9.7rem;
    left: 1.5rem;
  }

  .F_name:focus ~ .F_name_text,
  .F_name:not(:placeholder-shown) ~ .F_name_text {
    top: 9rem;
    border-radius: 0.15rem;
    left: 1rem;
  }

  .L_name_text {
    top: 13.7rem;
    left: 1.5rem;
  }

  .L_name:focus ~ .L_name_text,
  .L_name:not(:placeholder-shown) ~ .L_name_text {
    top: 12.8rem;
    border-radius: 0.15rem;
    left: 1rem;
  }

  .B_date_text {
    top: 21.7rem;
    left: 1.5rem;
  }

  .B_Date:focus ~ .B_date_text,
  .B_Date:valid ~ .B_date_text {
    top: 20.7rem; /* Adjust as necessary */
    left: 1rem; /* Adjust as necessary */
  }

  .Email_Add_text {
    top: 17.7rem;
    left: 1.5rem;
  }

  .Email_Add:focus ~ .Email_Add_text,
  .Email_Add:not(:placeholder-shown) ~ .Email_Add_text {
    top: 16.8rem;
    border-radius: 0.15rem;
    left: 1rem;
  }

  .reg_pass_text {
    top: 25.7rem;
    left: 1.5rem;
  }

  .reg_pass:focus ~ .reg_pass_text,
  .reg_pass:not(:placeholder-shown) ~ .reg_pass_text {
    top: 24.8rem;
    left: 1rem;
    border-radius: 0.15rem;
  }

  .conf_pass_text {
    top: 29.7rem;
    left: 1.5rem;
  }

  .conf_pass:focus ~ .conf_pass_text,
  .conf_pass:not(:placeholder-shown) ~ .conf_pass_text {
    top: 28.8rem;
    left: 1rem;
    border-radius: 0.15rem;
  }

  .reg_back_btn_cont {
    margin-left: 1rem;
    margin-top: -1rem;
  }

  .checkbox_holder {
    margin-top: 0rem;
    margin-left: 1.5rem;
  }

  .has_acc_container {
    margin-top: 1rem;
  }

  .input_holder {
    width: 90%;
  }

  .signup_btn {
    margin-top: 2rem;
    width: 80vw;
  }

  /*Login Part*/

  .login_container {
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin-top: -1rem;
    margin-left: 1.5rem;
    width: 100vw;
    height: 110vh;
    z-index: 5;
  }

  .login_img {
    visibility: hidden;
  }

  .no_acc_link {
    z-index: 10; /* or a higher value as needed */
  }

  .backbutton {
    position: absolute;
    top: 3.5%;
    left: 5%;
  }

  .logo_holder {
    margin-top: 10rem;
  }
}
