.chart-container {
  width: 90%;
  max-width: 700px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ranking-container {
  margin-top: 20px;
  text-align: center;
  font-family: "poppins";
}

.ranking-container h2 {
  font-size: 1.125em;
  margin-bottom: 10px;
}

.ranking-container ul {
  list-style: none;
  padding: 0;
}

.ranking-container li {
  font-size: 14px;
  padding: 5px;
}
