.terms-and-condition {
  position: absolute;
  height: 100vh;
  z-index: 9999999999;
  background-color: rgba(250, 235, 215, 0.158);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: #28282b 10px 10px 10px;
}

.terms_condition_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-family: "Poppins";
  color: #28282b;
  width: 50%;
  margin: 0 auto;
  background-color: whitesmoke;
}

.text_header_container {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: fit-content;
}

.church_name_header {
  font-size: 0.8em;
}

.header_title {
  font-size: 1.125em;
  margin-top: 0;
}

.terms_condition_content {
  padding: 0 2rem;
  font-family: "Poppins";
  color: #28282b;
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  background-color: whitesmoke;
}

.main_title_of_contents {
  font-size: 0.95em;
}

.update_date {
  font-size: 0.8em;
  color: #4c4caf;
}

.introduction_of_terms_context {
  font-size: 0.8em;
  line-height: 1.125em;
}

.contents_container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 1rem 0;
  gap: 0.5rem;
  overflow: auto;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contents_title {
  font-size: 0.95em;
}

.content_text {
  font-size: 0.8em;
  line-height: 1.125em;
}

.close_btn {
  transition: all 0.3s ease-in-out;
}

.close_btn:hover {
  filter: drop-shadow(2px 1px 3px #28282b69);
  cursor: pointer;
}

.continue_button {
  all: unset;
  background-color: #4c4caf;
  color: whitesmoke;
  font-family: "Poppins";
  padding: 0.5rem 2rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in-out;
}

.continue_button:hover {
  background-color: #4c4caf98;
  border-radius: 1rem;
  cursor: pointer;
  filter: drop-shadow(2px 1px 3px #28282b69);
}
