.App {
  background-color: rgb(255, 253, 229);
  margin: -10px 0px;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.highlight {
  background-color: yellow;
}

.react-hot-toast-container {
  position: fixed !important;
  z-index: 999999 !important;
}
