.settings_container{
    position: absolute;
    background-color: beige;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 999999;
}

.setting_content_container{
    width: 26vw;
    height: 90vh;
    padding: 1.5rem 1rem;
    box-shadow: 2px 3px 5px #282828;
}

.header_container_settings{
    margin: 1rem 1rem;
}

.setting_header{
    font-family: "Poppins";
    font-size: 2.5em;
    color: #2d2f65;
}

.settings_selection_container{
    margin: 0rem 1rem;
}

.setting_Selection{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.setting_Selection_list{
    font-family: "Lato";
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 600;
    color: #28282B;
    border-radius: 15px;
    width: 90%;
    margin: .5rem 0rem;
    padding: 1rem 1rem;
    transition: all .2s ease-in-out;
}

.setting_Selection_list:hover{
    background-color: #2d2f657e;
    color: whitesmoke;
    transform: translateX(1rem);
}

.isActive{
    background-color: #2d2f65;
    color: whitesmoke;
    transform: translateX(.5rem) translateY(-.5rem);
}

.isActive:hover{
    background-color: #2d2f65;
    color: whitesmoke;
    transform: translateX(.5rem) translateY(-.5rem);
}

.account_setting_modal{
    position: absolute;
    width: 71vw;
    height: 90vh;
    left: 27rem;
    top: 0rem;
    overflow: scroll;
    animation: slowLoad .5s ease-in-out;
}

.PaS_Setting_cont{
    margin: 3.5rem 2rem;
}

.AccountSettings{
    font-family: "Poppins";
    font-size: 2.125em;
    color: #2d2f65;
}

.PaS_Context{
    font-size: 1em;
    line-height: 1rem;
    font-family: "Lato";
    color: #28282B;
}

.change_passwordContainer{
    margin: 3.5rem 2rem;
    padding: 1rem 2.5rem;
    border-radius: 15px;
    box-shadow: #282828 1px 1px 5px;
    background-color: #FFFFF0;
}

.ChangePassword_Header{
    font-size: 1.5em;
    font-family: "Poppins";
    color: #28282B;
}

.big-container-Password{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.OldPass_Label {
    position: absolute;
    left: 19rem;
    top: 30.3rem;
    margin-right: 1rem;
    font-family: "Lato";
    z-index: 0;
    text-align: start;
    color: #28282b59;
    transition: top 0.2s, font-size 0.2s;
}

.OldPass {
    width: 30rem;
    height: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    border: #28282859 2px solid;
    outline: none;
    z-index: 55;
    background-color: transparent;
    transition: border 0.2s;
    box-shadow: none;
    font-size: 1.125em;
}

.OldPass:focus {
    border: #282828 2px solid;
    outline: none;
}

.OldPass:focus~.OldPass_Label,
.OldPass:not(:placeholder-shown)~.OldPass_Label {
    top: 29.5rem;
    font-size: 0.8rem;
    color: #282828;
}

.ConfPass_Label {
    position: absolute;
    left: 19rem;
    top: 38rem;
    margin-right: 1rem;
    font-family: "Lato";
    z-index: 0;
    text-align: start;
    color: #28282b59;
    transition: top 0.2s, font-size 0.2s;
}

.ConfPass {
    width: 30rem;
    height: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    border: #28282859 2px solid;
    outline: none;
    z-index: 1;
    background-color: transparent;
    transition: border 0.2s;
    box-shadow: none;
    font-size: 1.125em;
}

.ConfPass:focus {
    border: #282828 2px solid;
    outline: none;
}

.ConfPass:focus~.ConfPass_Label,
.ConfPass:not(:placeholder-shown)~.ConfPass_Label {
    top: 37.3rem;
    font-size: 0.8rem;
    color: #282828;
}

.NewPass_Label {
    position: absolute;
    left: 19rem;
    top: 34.1rem;
    margin-right: 1rem;
    font-family: "Lato";
    z-index: 0;
    text-align: start;
    color: #28282b59;
    transition: top 0.2s, font-size 0.2s;
}

.NewPass {
    width: 30rem;
    height: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 15px;
    border: #28282859 2px solid;
    outline: none;
    z-index: 1;
    background-color: transparent;
    transition: border 0.2s;
    box-shadow: none;
    font-size: 1.125em;
}

.NewPass:focus {
    border: #282828 2px solid;
    outline: none;
}

.NewPass:focus~.NewPass_Label,
.NewPass:not(:placeholder-shown)~.NewPass_Label {
    top: 33.4rem;
    font-size: 0.8rem;
    color: #282828;
}

.NewPass:hover, .OldPass:hover , .ConfPass:hover{
    border: 2px solid #282828;
}

.button_change_cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.btn_change_Pass{
    background-color: #efb934;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-size: 1.1em;
    font-family: "Lato";
    color: whitesmoke;
    border: #efb934 2px solid;
    transition: all .3s ease-in-out;
}

.btn_change_Pass:hover{
    cursor: pointer;
    border: #efb934 2px solid;
    background-color: transparent;
    color: #28282B;
}

.logout_button_container{
    margin: 3.5rem 2rem;
    padding: 1rem 2.5rem;
    border-radius: 15px;
    box-shadow: #282828 1px 1px 5px;
    background-color: #FFFFF0;
}

.Logout_Header{
    font-size: 1.5em;
    font-family: "Poppins";
    color: #28282B;
}

.button_container_settings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 1rem 1rem;
    padding: 0rem 2rem;
}

.btn-logout_settings{
    width: 10rem;
    text-align: end;
    padding: 1rem 2rem;
    border-radius: 50rem;
    border: 1px solid red;
    background-color: red;
    color: whitesmoke;
    font-family: "Poppins";
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7rem;
}


/*animations*/
@keyframes slowLoad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
