.user_chart_main_cont {
  margin-top: 5rem;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart_header {
  margin-bottom: 1rem;
}

.months_selector {
  padding: 5px;
  width: 20vw;
  font-family: "Poppins";
  border: 2px solid #2d2f65;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  outline: none;
}

.chart_container {
  position: relative;
  width: 200px;
  height: 200px;
}

.doughnut_chart {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chart_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background-color: beige;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.chart_percentage_cont {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart_label {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins";
}

.legends_container{
  width: 100%;
  margin-top: 1rem;
}

.legends_title{
  color: #2d2f65;
  font-family: "Poppins";
  font-size: 18px;
}

.individual_legend_cont{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend_color_label{
  font-family: "Poppins";
  font-size: 13px;
}

.legend_color_div{
  width: 13px;
  height: 13px;
  margin-right: 1rem;
  border-radius: 10px;
}

.CG{
  background-color: #36a2eb;
}

.PD{
  background-color: #ff6384;
}

.FD{
 background-color: #ffce56; 
}

.PM{
  background-color: #4bc0c0;
}

.WS{
  background-color: #9966ff;
}