/* General container styling */
.user_interface_cont {
  position: absolute;
  top: 0;
  background-color: beige;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.icon_personal_user {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 13.5rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.user_dashboard_cont.minimized .icon_personal_user {
  left: 1.7rem;
  opacity: 1;
  filter: drop-shadow(2px 2px 1px #28282b);
}

.icon_cellgroup_user {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 18.15rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.user_dashboard_cont.minimized .icon_cellgroup_user {
  left: 1.7rem;
  opacity: 1;
  filter: drop-shadow(2px 2px 1px #28282b);
}

.icon_network_user {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 23.25rem;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.user_dashboard_cont.minimized .icon_network_user {
  left: 1.7rem;
  opacity: 1;
  filter: drop-shadow(2px 2px 1px #28282b);
}

/* Main container styling */
.main_user_cont {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* Sidebar/dashboard styling */
.user_dashboard_cont {
  position: absolute;
  z-index: 15;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  width: 16rem; /* Fixed width */
  height: 80vh; /* Adjusted height to fill more space */
  border-radius: 15px;
  background-color: #f8bb33;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.content_list_dashboard .active {
  transition: all 0.2s ease-in-out;
  border: 5px solid #2d2f65;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 1em;
  text-wrap: nowrap;
  background-color: #2d2f65;
  color: whitesmoke;
  transition: opacity 0.1s ease-in-out;
}

.content_list_dashboard.minimized .active {
  opacity: 0;
}

.user_dashboard_cont.minimized {
  width: 60px;
  padding: 1rem 0.5rem;
}

/* Upper section of dashboard */
.upper_dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.dashboard_main_text {
  margin-top: 0.2em;
  color: whitesmoke;
  text-shadow: #28282b 2px 1px 3px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.125em;
  letter-spacing: 0.1em;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.user_dashboard_cont.minimized .dashboard_main_text {
  opacity: 0;
}

/* Hamburger menu styling */
.hamburger_menu {
  margin-top: 0.3rem;
  z-index: 10; /* Ensures the icon is clickable */
  filter: drop-shadow(2px 1px 3px #28282b);
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  right: 0rem; /* Adjusted initial position */
  transition: left 0.3s ease-in-out;
}

.user_dashboard_cont.minimized .hamburger_menu {
  /* Centers the icon when minimized */
  transform: translateX(-450%);
}

.content_display_area {
  position: relative; /* Ensures the content can overlap the background */
  z-index: 1; /* Makes sure the content is above the background */
  padding: 20px;
}

.content_display_area::before {
  content: "";
  background-image: url(../../assets/cbc_logo.png); /* Replace with the path to your church icon */
  background-repeat: no-repeat;
  background-size: contain; /* or 'cover' depending on your design */
  background-position: center;
  opacity: 0.05; /* Low opacity for watermark effect */
  position: absolute;
  top: 0;
  left: 0;
  width: 110vw;
  height: 100%;
  z-index: -1; /* Makes the background stay behind the content */
}

.loader_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 1s infinite linear;
}

@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

/* Content list dashboard styling */
.content_list_dashboard {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-wrap: nowrap;
}

.user_dashboard_cont.minimized .content_list_dashboard {
  opacity: 0;
  pointer-events: none; /* Ensure items are not clickable when minimized */
}

/* Content list items styling */
.content_list_dashboard p {
  font-size: 1.1em;
  font-family: "Poppins";
  letter-spacing: 0.1em;
  color: #28282b;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.content_list_dashboard p:hover {
  color: whitesmoke;
  transform: translateX(5px); /* Slight move to the right on hover */
}

/* Dynamic container and its variants styling */
.dynamic_container_personal,
.container_cellgroup,
.container_network_record {
  width: calc(100% - 250px); /* Adjusted width based on dashboard size */
  height: 85vh;
  transition: width 0.3s ease-in-out;
}

.container_network_record.expanded,
.container_cellgroup.expanded,
.dynamic_container_personal.expanded {
  width: calc(100% - 60px); /* Adjust width when sidebar is minimized */
}

.dynamic_container_personal {
  justify-content: space-around;
  width: clamp(50vw, 90vw, 100vw);
  display: flex;
  flex-direction: row;
}

.user_personal_cont,
.user_chart_cont {
  width: 50%;
  height: 100%;
}

.user_chart_cont {
  margin-left: -3rem;
}

/* Hidden state for containers */
.container_cellgroup,
.container_network_record,
.dynamic_container_personal {
  display: none;
  visibility: none;
}

/* Active state for containers */
.container_cellgroup.active,
.container_network_record.active,
.dynamic_container_personal.active {
  display: flex;
  visibility: visible;
  animation: slowLoad 0.5s ease-in-out;
}

/* Prevent scrolling */
body {
  overflow: hidden;
}

.credits_group {
  position: absolute;
  bottom: 0.5rem;
  width: 15rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.credits_text {
  font-size: 12px;
  color: #28282b;
  opacity: 0.5;
}

.user_dashboard_cont.minimized .credits_group {
  opacity: 0;
}

.icon_container {
  visibility: hidden;
}

.user_dashboard_cont.minimized .icon_container {
  width: 100%;
  height: 5rem;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.icon_label {
  position: fixed;
}

.user_dashboard_cont.minimized .icon_label {
  font-size: 10px;
  position: fixed;
  color: whitesmoke;
  width: 60px;
  line-height: 15px;
  text-align: center;
  font-family: "Poppins";
  text-shadow: #28282b 1.5px 1.5px 2px;
}

.personal {
  position: absolute;
  top: 15.5rem;
}

.cellgroup {
  position: absolute;
  top: 20.2rem;
}

.network {
  position: absolute;
  top: 25.5rem;
}

.user_dashboard_cont.minimized .icon_container:hover {
  background-color: #2d2f657a;
  border-radius: 0.5rem;
  cursor: pointer;
}

.user_dashboard_cont.minimized .icon_container.active {
  background-color: #2d2f65;
  border-radius: 0.5rem;
}

@keyframes slowLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1287px) {
  .dynamic_container_personal {
    overflow: scroll;
  }
}

@media (max-width: 1247px) {
  .dynamic_container_personal {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .icon_cellgroup_user {
    top: 19.65rem;
  }

  .icon_network_user {
    top: 24.75rem;
  }

  .icon_personal_user {
    top: 14.5rem;
  }

  .personal {
    top: 17rem;
  }

  .network {
    top: 27rem;
  }

  .cellgroup {
    top: 21.9rem;
  }

  .user_dashboard_cont {
    max-height: 75vh;
  }

  .dynamic_container_personal {
    height: 78vh;
  }
}

@media (max-width: 480px) {
  .container_cellgroup {
    width: 100%;
  }

  .container_network_record.active {
    width: 100%;
  }

  .dynamic_container_personal {
    height: 78vh;
  }

  .main_user_cont {
    height: 75vh;
  }
  .user_dashboard_cont {
    max-height: 75vh;
  }

  .user_dashboard_cont.minimized {
    max-height: 75vh;
  }

  .icon_cellgroup_user {
    top: 19.65rem;
  }

  .icon_network_user {
    top: 24.75rem;
  }

  .icon_personal_user {
    top: 14.5rem;
  }

  .personal {
    top: 17rem;
  }

  .network {
    top: 27rem;
  }

  .cellgroup {
    top: 21.9rem;
  }
}

@media (max-width: 395px) {
  .main_user_cont {
    height: 87vh;
  }
  .user_dashboard_cont {
    max-height: 87vh;
  }

  .user_dashboard_cont.minimized {
    max-height: 87vh;
  }

  .icon_cellgroup_user {
    top: 18.65rem;
  }

  .icon_network_user {
    top: 23.75rem;
  }

  .icon_personal_user {
    top: 13.5rem;
  }

  .personal {
    top: 16rem;
  }

  .network {
    top: 26rem;
  }

  .cellgroup {
    top: 20.9rem;
  }
}
