.announcement_list_mainContainer {
  padding: 2rem;
  height: 90%;
  font-family: Arial, sans-serif;
  overflow: scroll;
}

.communication_church_name {
  font-family: "Lato";
  font-size: 0.75em;
  margin-bottom: -1rem;
  color: #28282b;
}

.communication_header_Lbl {
  font-family: "Poppins";
  margin-top: 0.8rem;
  font-size: 1.8em;
  color: #120652;
}

.search_container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.export_button {
  all: unset;
  display: flex;
  height: fit-content;
  padding: 0.1rem 2rem;
  gap: 0.5rem;
  color: #120652;
  border: #120652 2px solid;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.export_button:hover {
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px #28282b;
}

.search_container input {
  padding: 0.5rem;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.announcement_list_body_container {
  overflow-x: auto;
}

.announcement_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}

.announcement_table th,
.announcement_table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
}

.announcement_table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.announcement_table td {
  background-color: #fff;
}

.edit_button,
.archive_button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.edit_button {
  background-color: #120652;
}

.archive_button {
  background-color: #f44336;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.page_button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s;
}

.page_button.active {
  background-color: #120652;
  border-radius: 0.5rem;
  width: 5rem;
}

.page_button:hover {
  background-color: #11065246;
  color: #28282b;
}

.print_view {
  display: none; /* Hidden in standard view */
}

@media print {
  .pagination, /* Hide pagination in print */
  .search_container, /* Hide search bar in print */
  .edit_button,
  .archive_button {
    display: none !important; /* Hide buttons in print */
  }

  /* Adjust table layout for printing */
  .announcement_table {
    width: 100%;
    font-size: 12px; /* Adjust font size */
  }

  .announcement_table th,
  .announcement_table td {
    border: 1px solid #000; /* Ensure visible borders */
    padding: 5px;
  }

  .announcement_list_mainContainer {
    padding: 0;
    margin: 0;
  }

  .standard_view {
    display: none; /* Hide the main view */
  }

  .print_view {
    display: block; /* Show print-friendly view */
  }
}
