.Form_Container {
  height: fit-content;
  width: 80%;
  margin: 2rem 5rem;
  background-color: rgba(245, 245, 220, 0.616);
  box-shadow: #28282b 2px 2px 5px;
}

.header_container {
  padding: 0.5rem 5rem;
  gap: 2.5rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.logo {
  width: 5rem;
  aspect-ratio: 1;
}

.header_texts {
  display: flex;
  flex-direction: column;
  font-family: "Cinzel";
  color: #28282b;
}

.church_name {
  font-family: "Lato";
  font-size: 0.9em;
  margin-left: 0.2rem;
}

.form_container {
  height: max-content;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placer_img {
  margin-top: -3rem;
  aspect-ratio: 1;
  width: 20rem;
}

.placer_text {
  font-size: 1.125em;
}

.placer_subtext {
  margin-top: -0.5rem;
  font-size: 0.9em;
}

.form_container.valid {
  align-items: start;
  text-align: justify;
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
}

.instructions_text {
  margin-top: -0.5rem;
  font-size: 0.8em;
}

.name_container_attendance {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.container_names {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image_inp_holder {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.imageInp {
  width: 50%;
}

.submit_attendance {
  all: unset;
  padding: 0.2rem 2rem;
  background-color: #120652;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
}

.form_container.valid input {
  width: 85%;
  all: unset;
  border: #120652 solid 1px;
  background-color: whitesmoke;
  color: #28282b;
}

.submit_attendance:hover {
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: #28282b 2px 2px 5px;
}

@media (max-width: 480px) {
  .header_container {
    gap: 0;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
  }

  .church_name {
    font-size: 0.7em;
  }

  .header_container .header_title {
    font-size: 1em;
  }

  .container_names {
    font-size: 0.8rem;
    width: 100%;
    align-items: start;
    flex-direction: column;
  }

  .header_texts {
    align-items: center;
    width: fit-content;
    margin: auto;
  }

  .image_inp_holder {
    font-size: 0.8em;
    text-align: start;
  }

  .imageInp {
    width: 85%;
  }

  .attendance_title {
    font-size: 0.9em;
    margin-bottom: -0.5rem;
  }

  .attendance_date {
    font-size: 0.8em;
  }

  .Form_Container {
    height: fit-content;
    width: 63%;
  }

  .form_container.valid {
    width: fit-content;
    padding: 0.5rem 0.5rem;
  }

  .form_container.valid input {
    width: 85%;
  }

  .submit_attendance {
    padding: 0.3rem 0.5rem;
    font-size: 0.8em;
  }
}
