@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.network_container {
  width: 100vw;
  height: 85vh;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
}

.network_toplayer {
  width: 80vw;
  height: 11vh;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 1rem;
}

.network_church_name {
  font-family: "Lato";
  font-size: 0.7em;
  margin-bottom: -1.125rem;
  color: #28282b;
}

.network_title {
  font-family: "Poppins";
  font-size: 2.125em;
  color: #2d2f65;
}

.header_text_announcement {
  font-family: "Poppins";
  width: 100%;
  margin-left: 2rem;
  color: #28282b;
  margin-bottom: 2rem;
}

.network_bottomlayer {
  margin-left: 2rem;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.network_bottomlayer_leftside {
  width: 50vw;
  height: 70vh;
  align-items: center;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.info_header_database {
  font-family: "Poppins";
  width: 100%;
  margin-left: 2rem;
  color: #28282b;
  margin-top: 2rem;
}

.container_leftside_top {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.data_container_right,
.data_container_left {
  width: 35vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.data_info_cont {
  width: 18vw;
  height: 20vh;
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 2.125rem;
  border-radius: 25px;
  background-color: #ffffff46;
  box-shadow: #28282b 2px 2px 6px;
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
}

.data_info_title {
  margin-top: 2.5rem;
  font-size: 0.8em;
  font-family: "Lato";
  letter-spacing: 2px;
  color: #28282b;
}

.data_info_count {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.25em;
  margin-top: -0.5em;
  color: #2d2f65;
}

.network_bottomlayer_rightside {
  margin-top: -1.25rem;
  width: 30vw;
  height: 70vh;
}

.network_chart_cont {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 25px auto;
}

.net_chart {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.network_chart_labels {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 7rem;
}
.net_chart_label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color_box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.header_announcement_network_cont {
  margin-top: 13%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header_text_announcement {
  font-size: 1.125em;
  font-family: "Poppins";
  color: #28282b;
}

.main_announcements_container {
  width: 100%;
  padding: 5%;
  overflow-y: scroll;
  height: 57vh;
}

.announcement_container_network {
  padding: 2%;
  background-color: aliceblue;
  border-radius: 1rem;
  color: #28282b;
}

.network_announcement_header {
  font-family: "Poppins";
  font-size: 0.9em;
}

.dates_container_network {
  font-size: 0.8em;
  margin-bottom: 5%;
}

.content_container_network {
  font-family: "Poppins";
  font-size: 0.8em;
}

@media (max-width: 1120px) {
  .network_bottomlayer {
    height: 85vh;
    overflow: auto;
    flex-direction: column;
  }

  .network_bottomlayer_rightside {
    width: 80vw;
  }

  .network_announcement_container {
    width: 80vw;
  }

  .announcement_container_network {
    height: fit-content;
  }

  .main_announcements_container {
    height: fit-content;
  }

  .container_leftside_top {
    flex-wrap: wrap;
    display: flex;
  }

  .network_bottomlayer_leftside {
    width: 100%;
    height: fit-content;
    overflow: unset;
  }

  .data_container_right,
  .data_container_left {
    width: 100%;
  }
}

@media (max-width: 481px) {
  .network_bottomlayer {
    height: 75vh;
  }

  .container_leftside_top {
    width: 90vw;
  }

  .data_info_cont {
    width: 28vw;
  }

  .data_info_title {
    line-height: 1.5em;
    margin-bottom: 1em;
  }
}
